@import '../../styles/variables';


$labelPadding: 3px;

.container {
  padding: 3px;
  color: #fff;
  border: 1px solid $textColor;
  padding: 3px;
  position: relative;
  .itemList {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    border: 1px solid $textColor;
    background: lighten($backgroundColor, 30);
    div {
      padding: $labelPadding;
      cursor: pointer;
      &:hover {
       background: lighten($backgroundColor, 50);
      }
    }
  }
  .label {
    display: flex;
    .labelText {
      flex-grow: 1;
    }
  }
}