@import '../../styles/variables';


.container {
 box-shadow : (0, 0, 0, 0.75) 0px 0px 5px 0px;
 text-align: center;
 .title {
   color: $blueColor;
   font-weight: bold;
   font-size: 1.2em;
 }
 .subtext {
   color: $textColor;
   font-size: 1em;
   font-weight: normal;
 }
}